---
version: '2'

# volumes:
#   nextcloud:
#     driver: local
#   mysql:
#     driver: local

services:
  plex:
    image: linuxserver/plex
    container_name: plex
    network_mode: host
    environment:
      - PUID={{ plexuser_uid }}
      - PGID={{ plexuser_gid }}
      - TZ={{ mediaserver_timezone }}
      - VERSION={{ plex_version }}
    volumes:
      - /var/lib/plexmediaserver:/config
      - {{ mergerfs__mount_point }}/{{ media_directory }}:/data/media
    restart: unless-stopped
  emby:
    image: emby/embyserver:{{ emby_version }}
    container_name: embyserver
    restart: unless-stopped
    environment:
      - PUID={{ plexuser_uid }}
      - PGID={{ plexuser_gid }}
      - TZ={{ mediaserver_timezone }}
      # - UMASK_SET=022 #optional
    volumes:
      - /var/lib/emby/config:/config
      - {{ mergerfs__mount_point }}/{{ media_directory }}:/data/media
    ports:
      - 8096:8096
      - 8920:8920
  mysql:
    image: {{ mysql_image }}
    container_name: mysql
    restart: unless-stopped
    environment:
      - PUID=999
      - PGID=999
      - MYSQL_ROOT_PASSWORD={{ mysql_root_password }}
      - MYSQL_DATABASE={{ nextcloud_mysql_database }}
      - MYSQL_USER={{ nextcloud_mysql_user }}
      - MYSQL_PASSWORD={{ nextcloud_mysql_database }}
      # Docker gateway (allow connections from host)
      - MYSQL_ROOT_HOST=172.*.*.*
    volumes:
      - {{ data_device.mount_point }}/mysql:/var/lib/mysql
  nextcloud:
    image: {{ nextcloud_image }}
    container_name: nextcloud
    restart: unless-stopped
    links:
      - mysql
    ports:
      - {{ nextcloud_port }}:80
    volumes:
      - {{ data_device.mount_point }}/nextcloud/nextcloud:/var/www/html
      - {{ data_device.mount_point }}/nextcloud/apps:/var/www/html/custom_apps
      - {{ data_device.mount_point }}/nextcloud/config:/var/www/html/config
      - {{ data_device.mount_point }}/nextcloud/data:/var/www/html/data
    environment:
      - MYSQL_HOST=mysql
      - MYSQL_DATABASE={{ nextcloud_mysql_database }}
      - MYSQL_USER={{ nextcloud_mysql_user }}
      - MYSQL_PASSWORD={{ nextcloud_admin_password }}
      - NEXTCLOUD_ADMIN_USER={{ nextcloud_admin_user }}
      - NEXTCLOUD_ADMIN_PASSWORD={{ nextcloud_admin_password }}
      - NEXTCLOUD_TRUSTED_DOMAINS={{ nextcloud_trusted_domains }}
