
on logIt(msg)
    set logFile to "/var/log/automounter.log"
    set now to current date
    set d to short date string of now
    set t to time string of now
    try
        open for access logFile with write permission
        write "[" & d & " " & t & "] " & msg & linefeed starting at eof to logFile
    end try
    try
        close access logFile
    end try
end logIt


tell application "Finder"
    set isConnected to disk "{{ media_share }}" exists
end tell

if isConnected = false then
    my logIt("Volume '{{ media_share }}' not mounted. Mounting...")
    try
        -- Using the "mount volume" applescript command will throw up a dialog
        -- on every attempt if the server just simply doesn't exist.
        -- mount volume "{{ media_share }}" on server "{{ mediaserver_hostname }}"
        do shell script "[ -d /Volumes/{{ mediaserver_hostname }} ] || sudo /bin/mkdir -p /Volumes/{{mediaserver_hostname}}"
        do shell script "sudo /sbin/mount -t smbfs //{{ mediaserver_hostname }}/{{ media_share }} /Volumes/{{ mediaserver_hostname }}"
        my logIt("Volume '{{ media_share }}' successfully mounted")
    on error errMsg
        my logIt("Error mounting volume '{{ media_share }}' (" & errMsg & ")")
    end try
end if
