<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.mediaserver.automounter</string>
    <key>ProgramArguments</key>
    <array>
        <string>osascript</string>
        <string>{{ script_path }}</string>
    </array>
    <!-- 
     Seems StartInterval is being ignored, use ThrottleInterval. See here:
     https://alvinalexander.com/mac-os-x/mac-os-x-startinterval-broken-launchctl-throttleinterval/
    -->
    <key>StartInterval</key>
    <integer>20</integer>
    <key>ThrottleInterval</key>
    <integer>20</integer>
    <key>KeepAlive</key>
    <true/>
</dict>
</plist>
