# {{ ansible_managed }}

{%- macro print_hash(hash) %}
{% for key, value in hash|dictsort -%}
    {{ "%-20s" | format(key) }} = {{ value }}
{% endfor %}
{% endmacro %}

[global]
{{ print_hash(hash=samba__default_global |combine(samba__custom_global)) }}
{% for share in samba__shares %}
[{{ share.name }}]
{% for key, value in share.items() if key != 'name' -%}
    {{ "%-20s" | format(key) }} = {{ value | lower if value is boolean else value }}
{% endfor %}

{% endfor %}
